/*#region css reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* General Styles */

:root {
	--peachy: #FFD6BA;
	--whitish: #FAF9F9;
	--pastelgreen: #BEE3DB;
	--darkergreen: #89B0AE;
	--greyish: #555B6E;
}
html {
	font-size: 62.5%;
	font-family: 'Noto Serif', serif;
}
body {
	font-size: 1.3rem;
}
a {
	color: var(--whitish);
	text-decoration: none;
}

/* Header Styles - Desktop */

nav {
	display: flex;
	background-color: var(--greyish);
	height: 10vh;
}

nav a {
	color: var(--whitish);
}

nav a:hover {
    color: var(--peachy);
    transition-duration: 1s;
}

h1 {
	width: 40%;
	font-family: 'Courgette', cursive;
	font-size: 3rem;
	margin: auto 0;
	padding-left: 2%;
	color: var(--pastelgreen);
}

.links {
	text-align: center;
	margin: auto 0;
    width: 100%;
    color: var(--whitish);
}

.links a {
	color: var(--whitish);
    padding: 0 5%;
    font-size: 2rem;
}

.login {
	text-align: right;
    color: var(--whitish);
    font-size: 2rem;
    margin: auto 0;
    width: 40%;
    padding-right: 2%;
}

.login a {
    color: var(--pastelgreen);
    padding:0 3%;
}

/* Main-Content Styles - Desktop */

.main-content img {
    -webkit-filter: brightness(0.7);
    filter: brightness(0.7);
    width: 100%;
}
.main-content p {
    color: var(--whitish);
    font-size: 6Rem;
    font-family: 'Kumbh Sans', sans-serif;
    margin: 0;
    transform: translate(-50%,-50%);
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    line-height: 8rem;
    width: 80%;
}
.peachy{
    background-color: var(--peachy);
    padding:0.5;
    height:2vh;
}
.pastelgreen {
    background-color: var(--pastelgreen);
    padding:0.5%;
}
.pastelgreen p{
    font-size: 2rem;
    line-height: 2.5rem;
}

/* Intro-Content Styles - Desktop */

.intro-content {
    background-color: var(--pastelgreen);
    padding:0.5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.intro-content p{
    text-align: center;
    padding:4%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--greyish);
    font-size: 1.5rem;
    line-height: 2rem;
    font-family: 'Kumbh Sans', sans-serif;
    font-style: italic;
}
h2{
    text-align: center;
    padding: 3% 0;
    font-size: 4rem;
    color: var(--greyish);
}

/* Blog-Posts Styles - Desktop */

.blog-posts{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.blog-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding-right: 3%;
    color: var(--greyish);
    font-size: 1.5rem;
    line-height: 2rem;
    font-family: 'Kumbh Sans', sans-serif;
}
.blog-content p{
    padding-bottom: 3%;
    width: 80%;
}
.blog-container1-3{
    background-color: var(--peachy);
    width: 90%;
    border-radius: 70px;
    display: flex;
    align-items: center;
    padding: 2% 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3%;
}
.blog-container2-4{
    background-color: var(--pastelgreen);
    width: 90%;
    border-radius: 70px;
    display: flex;
    align-items: center;
    padding: 2% 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3%;
}
.blog-posts img{
    width: 40%;
    margin-left: 4%;
    margin-top: 2%;
    margin-bottom: 2%;
    border-radius: 50px;
    display: flex;
}
.blog-posts h3{
    font-size: 4rem;
    color: var(--greyish);
    font-family: 'Kumbh Sans', sans-serif;
    line-height: 5rem;
    padding-bottom: 3%;
}
.blog-posts p{
    font-size: 2rem;
    line-height: 2.5rem;
}
.blog-posts ul{
    font-family: 'Noto Serif', serif;
    text-align: left;
}
button{
    padding: 2% 5%;
    background-color: var(--greyish);
    color: var(--whitish);
    border-radius: 10px;
    font-size: 2rem;   
}
.white-box{
    padding: 2%;
}

/* Footer Styles - Desktop */

footer {
    text-align: center;
    background-color: var(--greyish);
    height: 5vh;
    padding: 2%;
    color: var(--whitish);
}

footer a {
    color: var(--whitish);
    font-size: 2rem;
    padding:0 1%;
    transition-duration: 1s;
}

footer a:hover {
    color: var(--peachy);
}

small {
	display: block;
    font-size: 1.2rem;
    padding:1% 0;
    color: var(--pastelgreen);
}

/* Desktop Styles - 1700px */

@media only screen and (max-width: 1700px){

    /* Main-Content Styles - Desktop - 1500px */

    .main-content p {
        transform: translate(-50%,-50%);
    }
}

/* Desktop Styles - 1500px */

@media only screen and (max-width: 1500px){

    /* Main-Content Styles - Desktop - 1500px */

    .main-content p {
        transform: translate(-50%,-100%);
    }
}

/* Desktop Styles - 1200px */

@media only screen and (max-width: 1200px){

    /* Main-Content Styles - Desktop - 1500px */

    .main-content p {
        transform: translate(-50%,-100%);

    }
}

/* Desktop Styles - 1000px */

/* Header Styles - Desktop - 1000px */

@media only screen and (max-width: 1000px) {
    .links a {
        padding: 2%;
    }
    .login {
        width: max-content;
    }
    h1 {
        width: max-content;
    }
}

/* Desktop Styles - 1000px */

/* Header Styles - Desktop - 1000px */

@media only screen and (max-width: 1000px) {
    
    .links a {
        padding: 2%;
    }
    .login {
        width: max-content;
    }
    h1 {
        width: max-content;
    }
}

/* Tablet Styles */

@media only screen and (max-width: 800px){
    
    /* Header Styles - Tablet */

    .links a{
        font-size: 1.5rem;
    }
    h1{
        font-size: 2rem;
    }
    .login a{
        font-size: 1.5rem;
    }

    /* Main-Content Tablet Styles */

    .main-content {
        position: relative;
        margin: 0;
        padding: 0;
    }
    .main-content p {
        line-height: 6rem;
        width: 70%;
    }

    /* Blog-Posts Styles - Tablet */

    .blog-posts img{
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        border-radius: 40px;
    }
    .blog-container1-3{
        padding: 2% 0;
    }
    .blog-container2-4{
        padding: 2% 0;
    }
    .blog-content h3{
        font-size: 3rem;
    }
}

/* Phone Styles - Portrait */

@media only screen and (max-width: 500px) and (orientation: portrait){

    /* Header Styles - Phone - Portrait */

	html {
		font-size: 30%;
	}
	nav {
        padding: 3% 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 20vh;
	}
	h1 {
		font-size: 5rem;
        padding: 3% 0;
        text-align: center;
        width: 80%;
	}
	.links {
		width: 90%;
	}
	.links a {
        color: var(--whitish);
        font-size: 2.8rem;
        padding: 3%;
        height: 100%;
        width: 90%;
        line-height: 6rem;
	}
	.login {
        width: 90%;
        text-align: center;
        margin: 0;
        padding: 3% 0;
	}
	.login a {
		line-height: 4rem;
        font-size: 3.5rem;
        padding: 0 3%;
	}

    /* Intro-Content Styles - Phone - Portrait */

    .intro-content{
        padding: 3% 0;
    }
    .intro-content p{
        font-size: 3rem;
        line-height: 4rem;
        width: 80%;
    }

    /* Blog-Posts Styles - Phone - Portrait */

    h2 {
        padding: 5% 0;
    }
    .blog-posts{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .blog-container1-3{
        background-color: var(--peachy);
        width: 90%;
        border-radius: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 2%;
        padding-bottom: 5%;
    }
    .blog-container2-4{
        background-color: var(--pastelgreen);
        width: 90%;
        border-radius: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 2%;
        padding-bottom: 5%;
    }
    .blog-posts img{
        width: 85%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5%;
        margin-bottom: 5%;
        border-radius: 20px;
    }
    .blog-posts h3{
        font-size: 4.5rem;
        line-height: 6rem;
        color: var(--greyish);
        padding: 6% 0;
        width: 90%;
    }
    .blog-posts p{
        font-size: 3.3rem;
        line-height: 4rem;
        padding-bottom: 10%;
    }
    .blog-posts ul{
        font-size: 2.5rem;
        line-height: 4rem;
        width: 80%;
        padding-bottom: 5%;
    }
    button{
        border-radius: 10px;
        font-size: 3.5rem;
        margin: 10% 0;
        padding: 5% 7%;
        width: 60%;   
    }
    
    /* Footer Styles - Phone - Portrait */

    footer {
        height: 15vh;
        padding: 3%;
    }
    footer a {
        color: var(--whitish);
        font-size: 2.8rem;
        padding: 3%;
        height: 100%;
        max-width: 50%;
        line-height: 5rem;
        white-space: nowrap;
    }
    small {
        font-size: 2.5rem;
        padding-top: 5%;
        color: var(--pastelgreen);
    }
}

/* Phone Styles - Landscape */

@media (max-width: 800px) and (orientation: landscape){

    /* Header Styles - Phone - Landscape */

    nav {
        height: 15vh;
    }
    h1 {
        font-size: 2rem;
        width: 20%;
    }
    .links a {
        font-size: 1.3rem;
    }
    .login {
        width: 20%;
    }
    .login a {
        font-size: 1.5rem;
    }

    /* Footer Styles - Phone - Landscape */

    footer {
        height: 10vh;
    }
    footer a {
        font-size: 1.5rem;
    }
    small {
        font-size: .75rem;
    }
}