/*#region css reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	/* border: 0; */
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

:root {
	--peachy: #FFD6BA;
	--whitish: #FAF9F9;
	--pastelgreen: #BEE3DB;
	--darkergreen: #89B0AE;
	--greyish: #555B6E;
}

html {
	font-size: 62.5%;
	font-family: 'Noto Serif', serif;
}
body {
	font-size: 1.3rem;
}

a {
	color: var(--whitish);
	text-decoration: none;
}

/* #region header/nav */

nav {
	display: flex;
	background-color: var(--greyish);
	height: 10vh;
}

nav a {
	color: var(--whitish);
}

nav a:hover {
    color: var(--peachy);
    transition-duration: 1s;
}

h1 {
	width: 40%;
	font-family: 'Courgette', cursive;
	font-size: 3rem;
	margin: auto 0;
	padding-left: 2%;
	color: var(--pastelgreen);
}

.links {
	text-align: center;
	margin: auto 0;
    width: 100%;
    color: var(--whitish);
}

.links a {
	color: var(--whitish);
    padding: 0 5%;
    font-size: 2rem;
}

.login {
	text-align: right;
    color: var(--whitish);
    font-size: 2rem;
    margin: auto 0;
    width: 40%;
    padding-right: 2%;
}

.login a {
    color: var(--pastelgreen);
    padding:0 3%;
}

/* #endregion */


/* #region index intro */
h2 {
	text-align: center;
	font-size: 4rem;
	margin-bottom: 3%;;
	color: var(--greyish);
}

.intro {
	display: flex;
	justify-content: space-between;
	background-color: var(--darkergreen);
	padding: 2%
}

.pitch {
	width: 50%;
	margin: auto;
	font-size: 4rem;
	color: var(--peachy);
}

.pitch p {
	margin-top: 3%;
	line-height: 3.5rem;
	font-size: 3rem;
	color: var(--whitish);
}

.sample-card {
	width: 400px; /* max content not including padding-left in li item, even with border box*/
	height: 93%;
	border-radius: 15px;
	margin: 1.2% 1%;
	background-color: var(--whitish);
	font-family: 'Courgette', cursive;
	line-height: 2.2vh;
	box-sizing: border-box;
}
.sample-card:hover {
	animation: flip 5s;
}

@keyframes flip {
	50% {transform: rotateY(360deg)}
	100% {transform: rotateY(0)};
}

.sample-card p {
	font-weight: bold;
}

.sample-card p, li {
	/* box-sizing: border-box; not working, hence width static at 400px :(( */ 
	border-bottom: 1px solid blue;
	padding-left: 2%;
}

.sample-card .title {
	text-align: center;
	font-size: 2rem;
	line-height: 3.2vh;
	border-bottom: 1px solid red;
}

.last {
	border: none;
}

ul, ol {
	list-style-position: inside;
}


/* #endregion */


/* #region index testimonials */
.testimonials {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color:rgba(255, 255, 255, 0.2);
	align-items: center;
}

.bg-img {
	background-image: url("pexels-ella-olsson-1640777.jpg");
	background-size: 200%;
	background-position: center;
}

h2 {
	color: var(--greyish);
	margin-top: 3%;
	padding: 2%;
	background-color: rgba(255, 214, 186, 0.9);
	border-radius: 20px;
}

.testimonials div {
	width: 70%;
	display: flex;
	margin-bottom: 5%;
	background-color: rgba(255, 214, 186, 0.9);
}

.testimonials img {
	float: left;
	width: 30%;
}

.testimonials p {
	color: var(--greyish);
	font-size: 2rem;
	text-align: center;
	align-self: center;
	line-height: 2.5rem;
	padding: 2%;
}

.testimonials .signup {
	background-color: var(--darkergreen);
	width: max-content;
	font-size: 4rem;
	padding: 2% 1%;
	border-radius: 15px;
	padding: 1%;
}

.testimonials .signup a:hover {
	animation: open 1s;
}

@keyframes open {
	50% {transform: scale(0.25, 1)};
}

.testimonials .signup a {
	margin: 0 auto;
}

.signup a:hover {
	color: var(--peachy);
}

/* #endregion */

/* #region faq */
.body-faq {
	background-color: var(--pastelgreen);
}

.main-faq {
	background-image: url("pexels-aleksandar-pasaric-1415734.jpg");
	background-size: 150%;
	padding-top: 2%;
}

.faq {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	width: 95%;
}

.h2-faq {
	font-size: 4rem;
	margin: 0 auto;
	color: black;
	width: max-content;
	background-color: rgba(190, 227, 219, 1);
	border-radius: 5px;
	border: 1px solid var(--darkergreen);
}

.faq div {
	width: 35%;
	font-size: 2rem;
	margin: 3% 0;
	background-color: var(--pastelgreen);
	border-radius: 5px;
}

.faq h3 {
	font-size: 3rem;
	width: 100%;
	padding: 2% 0;
	color: var(--peachy);
	background-color: var(--greyish);
	text-align: center;
	border-radius: 5px 5px 0px 0px;
}

.faq p {
	padding: 0 5%;
	margin-bottom: 2%;
}

.faq a {
	color: var(--greyish);
}
.question {
	margin-top: 4%;
}

.answer {
	font-size: 1.6rem;
	font-family: 'Kumbh Sans', sans-serif;
}

/* #endregion */

/* #region footer */
footer {
    text-align: center;
    background-color: var(--greyish);
    height: 5vh;
    padding: 2%;
	color: var(--whitish);
}

footer a {
    color: var(--whitish);
    font-size: 2rem;
    padding:0 1%;
    transition-duration: 1s;
}

footer a:hover {
    color: var(--peachy);
}

small {
	display: block;
    font-size: 1.2rem;
    padding:1% 0;
    color: var(--pastelgreen);
}
/* #endregion */

/* small nav fix for 800-1000px width */
@media only screen and (max-width: 1000px) {
	.links a {
		padding: 2%;
	}
	.login {
		width: max-content;
	}
	h1 {
		width: max-content;
	}
}

@media only screen and (max-width: 800px) and (orientation: portrait) {
	/* #region nav tablet */
	.links a{
        font-size: 1.5rem;
    }
    h1{
        font-size: 2rem;
    }
    .login a{
        font-size: 1.5rem;
    }
	/* #endregion */

	/* #region index tablet */
	.sample-card li, p{
		line-height: 1.75rem;
	}

	.pitch {
		font-size: 3rem;
		line-height: 4rem;
	}

	.pitch p {
		font-size: 2rem;
		line-height: 3rem;
	}

	h2 {
		font-size: 3rem;
		margin-bottom: 3%;
	}
	.bg-img {
		background-image: url("pexels-ready-made-3850888.jpg");
		background-size: 100%;
	}
	.testimonials p {
		line-height: 2rem;
		font-size: 1.7rem;
		padding: 2%;
	}	
	
	.signup {
		width: 45%;
		padding: 1% 1% 1.5% 1%;
	}

	/* #endregion */
	
	/* #region faq tablet */
	.faq {
		flex-direction: column;
		align-items: center;
	}

	.faq div {
		width: 60%;
	}
	.question {
		line-height: 2.5rem;
	}
	.answer {
		line-height: 2.2rem;
		padding-bottom: 3%;
	}

	.faq h3 {
		margin: -2% -2% 0 -2%;
	}
	/* #endregion  */

} 

@media only screen and (max-width: 500px) and (orientation: portrait) {
	/* #region nav mobile */
	html {
        font-size: 30%;
    }
    nav {
        padding: 3% 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 20vh;
    }
    h1 {
        font-size: 5rem;
        padding: 3% 0;
        text-align: center;
        width: 80%;
    }
    .links {
        width: 90%;
    }
    .links a {
        color: var(--whitish);
        font-size: 2.8rem;
        padding: 3%;
        height: 100%;
        width: 90%;
        line-height: 6rem;
    }
    .login {
        width: 90%;
        text-align: center;
        margin: 0;
        padding: 3% 0;
    }
    .login a {
        line-height: 4rem;
        font-size: 3.5rem;
        padding: 0 3%;
    }
	/* #endregion */
	
	/* #region index mobile */

	.intro {
		flex-direction: column;
	}

	.pitch {
		font-size: 5rem;
		line-height: 6rem;
		width: 100%;
		text-align: center;
		margin-bottom: 3%;
	}

	.pitch p {
		font-size: 3.5rem;
		line-height: 5rem;
	}

	.sample-card {
		width: 90%;
		margin: 3% auto;
		line-height: 2rem;
		border-radius: 3px;
	}

	.sample-card .title {
		line-height: 3.5rem;
		font-size: 3rem;
	}

	.sample-card p, li {
		font-size: 2rem;
		line-height: 3rem;
	}

	.sample-card li {
		padding: 1% 2%;
	}

	h2 {
		font-size: 5rem;
		margin-bottom: 4%;
		border-radius: 0px;
	}

	.bg-img {
		background-image: url("pexels-ready-made-3850888.jpg");
		background-size: 100%;
	}

	.testimonials div {
		margin-bottom: 8%;
		width: 95%;
	}
	.testimonials p{
		font-size: 3rem;
		line-height: 3rem;
		padding: 2%;
	}

	.testimonials img {
		object-fit: cover;
	}

	.testimonials .signup {
		border-radius: 7px;
		padding: 2%;
	}
	/* #endregion */
	
	/* #region faq mobile */
	.faq div {
		width: 100%;
		margin-left: 2%;
	}
	.faq h3 {
		margin: 0;
		font-size: 3.5rem;
	}

	.faq p {
		font-size: 2.5rem;
		line-height: 3rem;
	}
	/* #endregion */

	/* #region footer mobile */
	footer {
        height: 15vh;
        padding: 3%;
    }
    footer a {
        color: var(--whitish);
        font-size: 2.8rem;
        padding: 3%;
        height: 100%;
        max-width: 50%;
		line-height: 5rem;
		white-space: nowrap;
	}
    small {
        font-size: 2.5rem;
        padding-top: 5%;
        color: var(--pastelgreen);
	}
	/* #endregion */
}

@media (max-width: 800px) and (orientation: landscape) {
	/* #region nav mobile landscape */
	nav {
		height: 15vh;
	}

	h1 {
		font-size: 2rem;
		width: 20%;
	}

	.links a {
		font-size: 1.3rem;
	}

	.login {
		width: 20%;
	}

	.login a {
		font-size: 1.5rem;
	}

	/* #endregion */
	
	/* #region index mobile landscape*/
	.pitch {
		font-size: 2.5rem;
	}

	.pitch p {
		font-size: 1.5rem;
		line-height: 2rem;
	}

	.sample-card {
		margin: 2% auto;
		width: 40%;
		font-size: 1rem;
		line-height: 1rem;
		border-radius: 5px;
	}
	.sample-card .title {
		font-size: 1.5rem;
		line-height: 2rem;
	}

	h2 {
		font-size: 3rem;
	}

	.testimonials div {
		width: 90%;
	}

	.testimonials p {
		font-size: 1.5rem;
		line-height: 2rem;
		padding: 2%;
	}

	.testimonials .signup {
		font-size: 3rem;
		padding: 2%;
	}
	
	/* #endregion */

	/* #region faq mobile landscape*/
	.h2-faq {
		font-size: 3rem;
		width: 82%;
	}

	.faq {
		flex-direction: column;
		align-items: center;
	}

	.faq div {
		width: 90%;
		margin-left: 6%;
	}
	/* #endregion */
	
	/* #region footer landscape */
	footer {
		height: 10vh;
	}

	footer a {
		font-size: 1.5rem;
	}

	small {
		font-size: .75rem;
	}
	/* #endregion */
}